/.idea
/.vscode
/.git
/.env
/.bash_history

/node_modules
/npm-debug.log
/yarn-error.log
/dist

/server-dist

/src/*/**/*.js
/src/*/**/*.jsx
/src/*/**/*.d.ts
/src/*/**/*.map

/lib/*/**/*.js
/lib/*/**/*.jsx
/lib/*/**/*.d.ts
/lib/*/**/*.map
